html,body {
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
}

.head {
  display: flex;
  width: 100%;
  justify-content:start;
  height: 100px;
  
}

.logo, .title, .right{
  display: block;
  margin-left:100px;
}

.logo{
  margin-top:30px;
}

.title{
  margin-top:50px;

}

.right{
  margin-right:100px;
  margin-left:auto;
  margin-top: 30px;
}

#socials {
  display:flex;
  list-style: none;
}

#socials li a {
  margin-left:30px;
}

#navbar {
  list-style: none inside;
  margin: 0;
  padding-top: 0;
  text-align: center;
  background-color: rgb(240, 99, 99);
}

#navbar li {
  display: inline-block;
  position: sticky;
  background-color: rgb(240, 99, 99);
}

#navbar li a { /*tab in nav bar*/
  display: block;
  padding: 0;
  width:200px;
  text-decoration: none;
  line-height: 45px;
  color: white;
}

#navbar li li a { /*dropdown font size*/
  font-size: 90%;
}


#navbar li:hover {
  background: rgb(169, 65, 83);
}

#navbar ul { /*sublist in dropdown*/
  position: absolute;
  padding: 0;
  left: 0;
  display: none; /* hides sublist */
}

#navbar li:hover ul ul { /*sub-sublist*/
  display: none;
}


#navbar li:hover ul { /* shows sublist when hovering on tab */
  display: block;
}

#navbar li li:hover ul {
  display: block; /* shows sub-sublist on hover */
  margin-left: 200px;
  margin-top: -45px; /* aligns top of sub-sublist with sublist */
}
